#preview-font.row(data-bind='style: {fontSize: fontSize() + "px"}, foreach: fontsList.selectedGlyphs')
  .preview-glyph.span3
    span.font-fontello.icon(data-bind='text: charRef')
    span.prefix icon-
    input.glyph-name(data-bind='value: name')
    a.remove.icon-remove(href='#', title=self.t('app.names_editor.remove'), data-bind='click: toggleSelection')
