#names-editor
  overflow hidden

#preview
  padding-bottom 10px // to show shadow of bottom row elements

.preview-glyph
  line-height 1.5em
  height 1.5em
  white-space nowrap
  background-color white

  span.icon
    display inline-block
    min-width 1em
    text-align center
    cursor default

  span.prefix
    margin-left 0.5em
    cursor default

  &:hover .glyph-name
    background-color lighten(yellow, 70%)
    //box-shadow 0 0 0px 2px rgba(168, 82, 82, 0.6) inset
    border-radius 4px
    cursor pointer

  .glyph-name
    display inline-block
    box-shadow none
    border 0
    padding-top 0
    padding-bottom 2px
    width 160px

    &:focus
      outline none
      box-shadow 0 0 8px rgba(168, 82, 82, 0.6), 0 0 0 2px rgba(168, 82, 82, 0.6)
      background-color lighten(rgb(168, 82, 82), 95%)
      border-radius 4px
      position relative
      z-index 1000
      cursor auto


._3d .preview-glyph span.icon
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)
