
black           = #000
grayDarker      = #222
grayDark        = #444
gray            = #666
grayLight       = #999
grayLighter     = #ccc
grayLightest    = #eee
white           = #fff


baseFontSize    = 14px
baseLineHeight  = 20px


sansFontFamily  = "Helvetica Neue", Helvetica, Arial, sans-serif;
sansWideFontFamily  = Verdana, sans-serif;
serifFontFamily = Georgia, "Times New Roman", Times, serif;
monoFontFamily  = Menlo, Monaco, Consolas, "Courier New", monospace;
