.container
  #myTabContent.tab-content
    // tab0 `Loading`
    #loading.tab-pane.fade.active.in Loading...

    // tab1 `Select
    #selector.tab-pane.fade
      ul#selector-fonts.unstyled

    // tab2 `Preview`
    #preview.tab-pane.fade
      p.note Click glyph name to edit
      #preview-font.row

    // tab3 `Download`
    #codes-editor.tab-pane.fade
      p.note Click symbol codes on black lines to edit
      #result-font
