html {
  overflow-y: scroll; /* remove glitch on step 3, when scroller disappears */
}

body {
  padding-top: 150px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#tab {
  position: fixed;
  top: 40px;
  z-index: 100;
  background-color: #fff;
  margin: 0;
  padding: 20px 0;
  opacity: 0.95;
}

#tab h1 {
  color: inherit;
  margin-left: 10px;
  margin-right: 15px;
}
.nav-pills .active > a small {
  color: #fff;
}
#fm-tab1-content h2 {
  margin-top: 20px;
  font-size: 36px;
  line-height: 54px;
}
#select .btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}
.page-header {
  border-bottom: 2px solid #ddd;
}
.navbar-fixed-top {
  box-shadow: 0 0 10px #444444;
}
.navbar .brand {
  padding: 9px 20px 11px;
}

.dropdown-menu a.disabled, .dropdown-menu a.disabled:hover {
  /* FIXME */
  opacity: 0.3;
  cursor: default;
}

#tab .disabled, #tab.disabled:hover {
  /* FIXME */
  opacity: 0.3;
  cursor: default;
}

.ui-notify { width:350px; position:fixed; top:55px; right:10px; }


#fm-download-font-button span,
#fm-download-font-button object {
  position: absolute;
  top: 0px;
  left: 0px;
}

#fm-clipboard-link.hover, #fm-clipboard-link2.hover {
  color: #005580;
  text-decoration: underline;
}

.ui-notify-message-style {
  z-index: 99999; 
  position: relative;
  overflow: auto;
}

/* custom */


#fm-file {
  /* chrome/opera doesn't trigger events on "display: none;" elements */
  /* so, do some tricks to safely hide element */

  /* display: none; */
  width: 0px;
  height: 0px;
  position: absolute;
  top: -100px;
  visibility: hidden;
}

.fm-glyph-group {
  display: inline-block;
}

.glyph {
  border: 2px #aaa solid;
  border-radius: 8px 8px 8px 8px;
  float: left;
  margin: 5px;
  padding: 8px;
  width: 64px;
  height: 64px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.glyph:hover {
  background: #f0f0f0;
  opacity: .8;
}
.glyph input { display: none; }
.glyph.selected {
  border: 2px #800 solid;
  background-color: #fee;
  color: #fff;
  box-shadow: 0 0 5px #444 inset;
}
.gd {
  font-size: 64px;
  line-height: 1;
  text-align: center;
  display: inline-block !important;
  vertical-align: middle !important;
/*  background-color: #fff;
  border: 1px #ccc solid;
*/
}

.fm-icon-size-32 .glyph {
}

.fm-icon-size-24 .glyph {
  width: 48px;
  height: 48px;
  line-height: 42px;
}
.fm-icon-size-16 .glyph {
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-width: 1px;
  margin: 4px;
}


.rearrange-glyph {
  border: 2px #888 solid;
  border-radius: 8px 8px 8px 8px;
  float: left;
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 64px;
  text-align: center;
  _font-size: 55px;
  _line-height: 1;
}
.rearrange-glyph input {
  display: none;
  readonly: true;
}
.rearrange-glyph.selected {
  border: 2px #000 solid;
  cursor: pointer;
}
.rearrange-glyph.selected .rg-top { background-color: #000; }
.rearrange-glyph.selected .rg-bottom { background-color: #000; }

.rg-icon {
/*  border: 1px #ccc solid; */
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.rg-top {
  border: 0px #000 solid;
  text-align: center;
  background-color: #888;
  color: #fff;
  border-radius: 4px 4px 0 0;
  font-size: 10px;
  font-weight: bold;
}
.rg-bottom {
  border: 0px #000 solid;
  text-align:center;
  background-color: #888;
  color: #fff;
  border-radius: 0px 0px 4px 4px;
  font-size: 10px;
}

/* warning for disabled JS */
.js  .jsnotice { display: none; }
.no-js .jsnotice {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 90px;
  z-index: 10000;
  font-size: 54px;
  line-height: 81px;
  font-weight: bold;
}

