#result-font(data-bind="foreach: selectedGlyphs")
  .result-glyph
    .top
      input.char-editable(data-bind="value: char")

    .center.font-fontello(data-bind="text: codeAsText")

    .bottom
      span.code-prefix U+
      input.code-editable(data-bind="value: code")
