.result-glyph
  float left
  width 64px
  margin 0 10px 10px 0
  color #fff
  //background-color #888
  //border-left 1px solid #888
  //border-right 1px solid #888
  background-color grayDark
  border-left 1px solid grayDark
  border-right 1px solid grayDark
  border-radius 6px

  .top
    text-align center
    line-height 16px
    font-size 14px

    input
      width 15px
      border 0
      border-radius 3px
      background-color grayLighter


  .center
    height 64px
    line-height 64px
    text-align center
    background-color white
    color #444
    font-size 24px

  .bottom
    text-align center
    line-height 16px
    font-size 10px

    input
      width 45px
      border 0
      border-radius 3px
      background-color grayLighter

  //&.mapping-matched
  //  border-color #444
  //  background-color #444

  .code-prefix, .code-editable, .char-editable
    display inline-block
    margin 3px 0
  .char-editable
    padding 0 3px


  &:hover
    .char-editable, .code-editable
      background-color #eee
      border-radius 2px
      cursor pointer

  .char-editable, .code-editable
    &:focus
      outline none
      box-shadow 0 0 2px white
      background-color white
      color grayDark
      border-radius 2px
      cursor auto
