@charset "UTF-8";

@font-face {
  font-family: '{{font.fontname}}';
  src: url('{{font.fontname}}.eot');
  src: url('{{font.fontname}}.eot?#iefix') format('embedded-opentype'),
       url('{{font.fontname}}.woff') format('woff'),
       url('{{font.fontname}}.ttf') format('truetype'),
       url('{{font.fontname}}.svg#{{font.fontname}}') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: {{font.fontname}};
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

{{#glyphs}}
.{{meta.css_prefix}}{{css}}:before { content: "{{chr}}"; } /* '{{hex}}' */
{{/glyphs}}
