- var i, g, css, hex, chr
- for (i in glyphs)
  - g = glyphs[i]
  - css = meta.css_use_suffix ? g.css + meta.css_prefix_text : meta.css_prefix_text + g.css
  - hex = g.code.toString(16)
  - chr = unichr(g.code)
  != '\n'
  | .#{css} { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x#{hex};&nbsp;'); }
