[submodule "src/iconic-uni.font"]
	path = src/iconic-uni.font
	url = git://github.com/fontello/iconic-uni.font.git
[submodule "src/awesome-uni.font"]
	path = src/awesome-uni.font
	url = git://github.com/fontello/awesome-uni.font.git
[submodule "src/websymbols-uni.font"]
	path = src/websymbols-uni.font
	url = git://github.com/fontello/websymbols-uni.font.git
[submodule "src/entypo"]
	path = src/entypo
	url = git://github.com/fontello/entypo.git
[submodule "src/brandico.font"]
	path = src/brandico.font
	url = git://github.com/fontello/brandico.font.git
[submodule "src/modernpics.font"]
	path = src/modernpics.font
	url = git://github.com/fontello/modernpics.font.git
[submodule "src/typicons.font"]
	path = src/typicons.font
	url = git://github.com/fontello/typicons.font.git
[submodule "src/meteocons.font"]
	path = src/meteocons.font
	url = git://github.com/fontello/meteocons.font.git
[submodule "src/zocial.font"]
	path = src/zocial.font
	url = git://github.com/fontello/zocial.font.git
[submodule "src/maki.font"]
	path = src/maki.font
	url = git://github.com/fontello/maki.font.git
[submodule "src/fontelico.font"]
	path = src/fontelico.font
	url = git://github.com/fontello/fontelico.font.git
[submodule "src/mfglabs.font"]
	path = src/mfglabs.font
	url = git://github.com/fontello/mfglabs.font.git
[submodule "src/elusive.font"]
	path = src/elusive.font
	url = git://github.com/fontello/elusive.font.git
[submodule "src/linecons.font"]
	path = src/linecons.font
	url = git://github.com/fontello/linecons.font.git
