config/application.yml
config/production.yml
config/development.yml
config/logger.yml
node_modules/
doc/
tmp/
log/
.cache

*.log
*.swp
*.sublime-project
*.sublime-workspace

/public/assets/
/public/download/

.fontello
.fontello.zip
.fontello.src
