config/fontello.com.yml
config/application.yml
config/production.yml
config/development.yml
config/logger.yml
node_modules/
log/
assets/

*.log
*.swp
*.sublime-project
*.sublime-workspace

download/

.fontello
.fontello.zip
.fontello.src
