#result-download
  margin-bottom 15px

.toolbar
  position relative

//== Make toolbar background non-transparent
.navbar-fixed-top
  background-color #fff

//== Fix search vertical offset
.btn-group .search-query
  float left
