.top !{self.top}

.top.edit
  table
    tbody
      tr
        td: input(type="text")


.center.font-fontello !{self.chr}

.bottom #{self.bottom}

.bottom.edit
  table
    tbody
      tr
        td: U+
        td: input(type="text")
