ul#tabs.nav.nav-tabs
  li.nav-item
    a.nav-link(data-bs-toggle='tab', data-bs-target='#selector')= self.t('selector')
  li.nav-item
    a.nav-link(data-bind="css: { disabled: !selectedCount() }, attr: { 'data-bs-toggle': selectedCount() ? 'tab' : '' }",
               data-bs-target='#names-editor')= self.t('names_editor')
  li.nav-item
    a.nav-link(data-bind="css: { disabled: !selectedCount() }, attr: { 'data-bs-toggle': selectedCount() ? 'tab' : '' }",
               data-bs-target='#codes-editor')= self.t('codes_editor')
  li.nav-item
    a.nav-link(href='https://github.com/fontello/fontello/wiki/Help', target='_blank'): strong= self.t('help')
