.preview-glyph {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.preview-glyph span {
  display: inline-block;
  width: 1.1em;
  text-align: center;
}
