.preview-glyph
  line-height 1.5em
  height 1.5em
  overflow hidden
  white-space nowrap

  span
    display inline-block
    width 1.1em
    text-align center

._3d .preview-glyph span
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)
