<div class="container">
  <div class="tab-content" id="myTabContent">
    <!-- tab0 `Loading`-->
    <div id="loading" class="tab-pane fade active in">
        Loading...
    </div>

    <!-- tab1 `Select`-->
    <div id="selector" class="tab-pane fade">
      <ul id="selector-fonts" class="unstyled"></ul>
    </div>

    <!-- tab2 `Preview` -->
    <div id="preview" class="tab-pane fade">
      <div id="preview-font" class="row">
      </div>
    </div>

    <!-- tab3 `Download` -->
    <div id="codes-editor" class="tab-pane fade">
      <p>Click symbol codes on black lines to edit</p>
      <div id="result-font">
      </div>
    </div>

  </div> <!-- /tab-content -->

</div> <!-- /container -->

<!-- templates
================================================== -->
<script data-tpl-id="selector:download-banner" type="text/x-template">
  Are you designer? <a href="https://github.com/fontello/fontello/wiki/How-to-help" target="_blank">You can help</a> us improve fontello!
</script>
<script data-tpl-id="font-item" type="text/x-template">
  <h2 class="src-font-head"><a class="label label-important font-info" href="#">info</a>
    <a class="src-font-name _collapser" href="#">{{fontname}}</a>
  </h2>
  <ul class="unstyled font-glyphs {{css_class}}"></ul>
</script>
