<div class="container">
  <div class="tab-content" id="myTabContent">
    <!-- tab0 `Loading`-->
    <div id="loading" class="tab-pane fade active in">
        Loading...
    </div>

    <!-- tab1 `Select`-->
    <div id="selector" class="tab-pane fade">
      <ul id="selector-fonts" class="unstyled"></ul>
    </div>

    <!-- tab2 `Preview` -->
    <div id="preview" class="tab-pane fade">
      <div id="preview-font" class="row">
      </div>
    </div>

    <!-- tab3 `Download` -->
    <div id="codes-editor" class="tab-pane fade">
      <p>Click symbol codes on black lines to edit</p>
      <div id="result-font">
      </div>
    </div>

  </div> <!-- /tab-content -->

</div> <!-- /container -->


<div class="gh-ribbon">
  <a href="https://github.com/fontello/fontello" target="_blank" title="Fork me on GitHub">Fork me on GitHub</a>
</div>

<div class="jsnotice"><div class="alert alert-error">Fontello will not work without javascript!</div></div>

<div id="err-bad-browser" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <h1>Bad Browser</h1>
  </div>
  <div class="modal-body">
    <p>We have bad news for you - <strong>this application requires modern browser</strong>.
        Please, upgrade and come back. Currently we support:</p>
    <p>
      <ul>
        <li><a href="http://www.mozilla.com/firefox/">Firefox 10+</a></li>
        <li><a href="http://www.google.com/chrome/">Chrome 16+</a></li>
        <li><a href="http://www.opera.com/browser/">Opera 11.62+</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- templates
================================================== -->
<script data-tpl-id="selector:download-banner" type="text/x-template">
  Are you designer? <a href="https://github.com/fontello/fontello/wiki/How-to-help" target="_blank">You can help</a> us improve fontello!
</script>
<script data-tpl-id="selector:max-glyphs-error" type="text/x-template">
  You can&#39;t select more than {{max}} icons at once.
  If you have a real use-case, please,
  <a href="https://github.com/fontello/fontello/issues/new">create</a>
  ticket in issue tracker.
</script>
<script data-tpl-id="font-item" type="text/x-template">
  <h2 class="src-font-head"><a class="label label-important font-info" href="#">info</a>
    <a class="src-font-name _collapser" href="#">{{fontname}}</a>
  </h2>
  <ul class="unstyled font-glyphs {{css_class}}"></ul>
</script>
<script data-tpl-id="preview:glyph" type="text/x-template">
  <span class="{{fnt}}">{{chr}}</span> {{css}}
</script>
<script data-tpl-id="resultfont-glyph-item" type="text/x-template">
  <div class="top">{{{top}}}</div>
  <div class="top edit">
    <table>
      <tbody>
        <tr>
          <td><input type="text"/></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="center {{css_class}}">{{{char}}}</div>
  <div class="bottom">{{bottom}}</div>
  <div class="bottom edit">
    <table>
      <tbody>
        <tr>
          <td>U+</td>
          <td><input type="text"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</script>
