<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Fontello - easy iconic fonts composer</title>
    <meta name="description" content="Nice tool to build custom fonts with icons."/>
    <meta name="author" content=""/>

    <!-- styles -->
    <link href="static/assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="static/assets/vendor/bootstrap/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="static/assets/vendor/jquery.gritter/jquery.gritter.css" rel="stylesheet"/>
    <link href="static/assets/css/fontomas.css" rel="stylesheet"/>
    <link href="static/assets/css/fontface-embedded.css" rel="stylesheet"/>

    <!-- the fav and touch icons -->
    <link rel="shortcut icon" href="static/assets/img/favicon.ico"/>
    <script src="static/assets/vendor/modernizr.custom.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <h1 class="brand">Fontello - iconic fonts scissors</h1>
          <ul class="nav">
            <li><a href="https://groups.google.com/group/fontomas-project" target="_blank">Forum</a></li>
            <li><a href="https://github.com/nodeca/fontomas/issues" target="_blank">Bug reports</a></li>
            <li><a href="https://github.com/nodeca/fontomas#readme" target="_blank">About</a></li>
            <li><a href="https://twitter.com/puzrin" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a></li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="Fontello - scissors for iconic webfonts.">Tweet</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <ul class="nav nav-pills page-header span12" id="wizard-steps">
        <li><a data-toggle="tab" href="#selector">1. Select <small>(<span id="selected-glyphs-count">0</span>)</small></a></li>
        <li><a class="disabled" data-toggle="tab" href="#preview">2. Preview</a></li>
        <li><a class="disabled" data-toggle="tab" href="#result">3. Download</a></li>
        <li><a data-toggle="tab" href="#donate">4. Donate :)</a></li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- tab0 `Loading`-->
        <div id="loading" class="tab-pane fade active in">
            Loading...
        </div>

        <!-- tab1 `Select`-->
        <div id="selector" class="tab-pane fade">

          <form class="" id="selector-toolbar">
            <input id="local-files" type="file" multiple="multiple"/>
            <div class="btn-toolbar">

              <div id="glyph-size" class="btn-group tooltip-enabled" data-toggle="buttons-radio" title="Change symbols preview size" data-placement="bottom">
              </div>
<!--
              <div class="btn-group tooltip-enabled" title="SVG / Cufon" data-placement="bottom">
                <button id="browse-local-files" class="btn btn-small" type="submit">Load Font</button>
              </div>
-->
              <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                  Use Embedded Font
                  <span class="caret">dfg</span>
                </a>
                <ul id="use-embedded" class="dropdown-menu">
                </ul>
              </div>
            </div>
          </form>

          <div class="btn-toolbar">
          </div>

          <ul id="selector-fonts" class="unstyled">
          </ul>
        </div>

        <!-- tab2 `Preview` -->
        <div id="preview" class="tab-pane fade">
          <div id="preview-font" class="row">
          </div>
        </div>

        <!-- tab3 `Download` -->
        <div id="result" class="tab-pane fade">
          <a id="result-download" class="btn btn-large btn-danger">Download font pack</a>
          <!--<form>
            <div class="btn-toolbar">
              <div class="btn-group" data-placement="bottom">
                <button id="result-download" class="btn btn-large btn-danger" type="submit">Download font pack</button>
              </div>
            </div>
          </form>-->
          <div id="result-font">
          </div>
        </div>

        <!-- tab4 `Donate` -->
        <div id="donate" class="tab-pane fade">
          <p>We don't need money. Really. But you can <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=575L9QR4V5TNU" target="_blank">show via paypal</a>, how much do you like our work :)</p>
          <p>Also, we'd like to create `fontello` collection, where designers could share icons under
          CC licence. If you wish to participate - <a href="mailto:vitaly@rcdesign.ru?subject=Fontello" target="_blank">contact</a> us.</p>
        </div>

      </div> <!-- /tab-content -->
    </div> <!-- /container -->

    <a href="https://github.com/nodeca/fontomas" title="Source code"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 10000;" src="static/assets/img/gh-ribbon.png" alt="Fork me on GitHub"/></a>

    <div class="jsnotice"><div class="alert alert-error">Fontomas will not work without javascript!</div></div>

    <div id="err-bad-browser" class="modal hide fade" style="display: none;">
      <div class="modal-header">
        <h1>Bad Browser</h1>
      </div>
      <div class="modal-body">
        <p>We have bad news for you - <strong>this application requires modern browser</strong>.
           Please, upgrade and come back. Currently we support:</p>
        <p>
          <ul>
            <li><a href="http://www.mozilla.com/firefox/">Firefox 10+</a></li>
            <li><a href="http://www.google.com/chrome/">Chrome 16+</a></li>
            <li><a href="http://www.opera.com/browser/">Opera 11.60+</a></li>
          </ul>
        </p>
      </div>
<!--
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Save changes</a>
        <a href="#" class="btn">Close</a>
      </div>
-->
    </div>

    <!-- templates
    ================================================== -->
    <script data-tpl-id="icon-size" type="text/x-template">
      {{#buttons}}
        <button class="btn btn-small" data-glyph-size="{{this}}">{{this}}px</button>
      {{/buttons}}
    </script>
    <script data-tpl-id="use-embedded" type="text/x-template">
      {{#options}}
        <li><a class="font-name{{#disabled}} disabled{{/disabled}}" href="#">{{this.text}}</a></li>
      {{/options}}
    </script>
    <script data-tpl-id="font-item" type="text/x-template">
      <h2><span class="font-name">{{fontname}}</span>
        <a class="font-anchor" href="#font-{{id}}"></a>
        <a class="font-close" href="#"><small>close</small></a>
      </h2>
      <ul class="unstyled glyph-group {{css_class}}">
      </ul>
    </script>
    <script data-tpl-id="glyph-item" type="text/x-template">
      <li class="glyph" data-glyph-id="{{glyph_id}}">{{{unicode}}}</li>
    </script>
    <script data-tpl-id="preview:glyph" type="text/x-template">
      <span class="{{fnt}}">{{chr}}</span> {{css}}
    </script>
    <script data-tpl-id="resultfont-glyph-item" type="text/x-template">
      <!--div class="result-glyph"-->
        <div class="top">{{{top}}}</div>
        <div class="top edit">
          <table>
            <tbody>
              <tr>
                <td><input type="text"/></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="center {{css_class}}">{{{char}}}</div>
        <div class="bottom">{{bottom}}</div>
        <div class="bottom edit">
          <table>
            <tbody>
              <tr>
                <td>U+</td>
                <td><input type="text"/></td>
              </tr>
            </tbody>
          </table>
        </div>
      <!--/div-->
    </script>

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/static/assets/vendor/jquery/jquery.js"></script>

    <script type="text/javascript" src="/static/assets/vendor/jquery.gritter/jquery.gritter.js"></script>
    <script type="text/javascript" src="/static/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/vendor/underscore.js"></script>
    <script type="text/javascript" src="/static/assets/vendor/backbone.js"></script>
    <script type="text/javascript" src="/static/assets/vendor/handlebars.js"></script>

    <script type="text/javascript" src="/static/system/fontomas/api.js"></script>
    <script type="text/javascript" src="/static/assets/js/app.js"></script>

<!-- Google Analytics -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26895916-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Twitter button generator -->

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </body>
</html>
