black           = #000
grayDarker      = #222
grayDark        = #444
gray            = #666
grayLight       = #999
grayLighter     = #ccc
grayLightest    = #eee
white           = #fff


// Accent colors
// -------------------------
blue            = #049cdb
blueDark        = #0064cd
green           = #46a546
red             = #9d261d
yellow          = #ffc40d
orange          = #f89406
pink            = #c3325f
purple          = #7a43b6

baseFontSize    = 14px
baseLineHeight  = 20px

sansFontFamily  = "Helvetica Neue", Helvetica, Arial, sans-serif;
sansWideFontFamily  = Verdana, sans-serif;
serifFontFamily = Georgia, "Times New Roman", Times, serif;
monoFontFamily  = Menlo, Monaco, Consolas, "Courier New", monospace;

navbarText      = #bbb
navbarLinkColor = #bbb
