ul#tabs.nav.nav-tabs
  li: a(data-toggle="tab", data-target="#selector") Select Icons
  li: a(data-bind="css: {disabled: !selectedCount()}, attr: {'data-toggle': selectedCount() ? 'tab' : ''}",
        data-target="#names-editor") Edit names
  li: a(data-bind="css: {disabled: !selectedCount()}, attr: {'data-toggle': selectedCount() ? 'tab' : ''}",
        data-target="#codes-editor") Edit codes
