.container
  #myTabContent.tab-content
    // tab0 `Loading`
    #loading.tab-pane.fade.active.in
      i.icon-load.animate-spin
      |  #{self.t('loading')}

    // tab1 `Select
    != self.include('app.selector')

    // tab2 `Preview`
    != self.include('app.names_editor')

    // tab3 `Download`
    != self.include('app.codes_editor')
