.container
  #myTabContent.tab-content
    // tab0 `Loading`
    #loading.tab-pane.active
      //- i.icon-load.animate-spin
      |  #{self.t('loading')}

    // tab1 `Select
    != self.partial('@fontello.blocks.selector')

    // tab2 `Preview`
    != self.partial('@fontello.blocks.names_editor')

    // tab3 `Download`
    != self.partial('@fontello.blocks.codes_editor')
