.container
  #myTabContent.tab-content
    // tab0 `Loading`
    #loading.tab-pane.fade.active.in
      i.icon-load.animate-spin
      |  #{self.t('app.loading')}

    // tab1 `Select
    include selector/selector

    // tab2 `Preview`
    include names_editor/names_editor

    // tab3 `Download`
    include codes_editor/codes_editor
