#names-editor.tab-pane(data-bind="css: { 'css-use-suffix': cssUseSuffix() }")

  #preview-font.row(data-bind="style: { fontSize: fontSize() + 'px' }")
    // ko foreach: { data: selectedGlyphs }
    .preview-glyph.col-xs-3(data-bind='attr: { "data-id": uid }')
      .preview-glyph-drop
        span.icon(draggable="true" data-bind='attr: { "data-id": uid }, text: charRef, css: (font.fontname === "custom_icons") ? "font-custom_icons" : "font-fontello"')
        span.prefix(data-bind='visible: !$parent.cssUseSuffix(), text: $parent.cssPrefixText')
        input.glyph-name(data-bind='value: name')
        span.suffix(data-bind='visible: $parent.cssUseSuffix, text: $parent.cssPrefixText')
        a.remove.icon-remove(
          href='#',
          title=self.t('remove'),
          data-bind='attr: { "data-id": uid }', data-on-click='names_edit:glyph_remove'
        )
    // /ko
