@import "../../_variables"


.toolbar-container
  position relative
  background-color #f6f6f6
  padding-top 15px
  padding-bottom 15px
  margin-bottom 15px

.btn-toolbar
  margin 0

//== Make toolbar background non-transparent
//.navbar-fixed-top
//  background-color #fff

//== Dirty fix typeahead & tooltip z-index, to be over static container
.typeahead.dropdown-menu
.tooltip
  z-index 1050

#glyph-size-slider
  width: 100px
  display inline-block
  float: left
  margin-top 11px
  margin-left .5em

#glyph-size-value
  display inline-block
  float  left
  //height 29px
  line-height 30px
  margin 0 1em
  color #666
  font-size 11px

//== "3D" switch
.btn-group .switch-3d
  display inline-block
  float left
  font-size 11px
  color grayLight
  line-height 30px
  input
    vertical-align top
    margin-top 7px

//
// Search icon tweak
//

.search-form
  .search-query
    padding-left 25px
    border-color #888
  .i-search-box
    position absolute
    color gray
    top 5px
    left 8px
    // restore font size
    font-size 14px
  .icon-search:before
    opacity 1

.search-permalink
  padding-left 4px
  padding-right 4px

//
// Inline menu form
//
.menuitem-form
  padding 3px 20px
  margin 0

/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider
  position relative
  text-align left

  border 1px solid
  border-color #bbb #bbb #ddd #ddd
  border-radius 1em
  background #ddd
  background-image: linear-gradient(top, #bbb 0%, #fff 80%, #ddd 100%);

  // fix toolbar fontsize reset
  font-size 14px

.ui-slider .ui-slider-handle
  position absolute
  z-index 2
  width 1.2em
  height 1.2em
  cursor default

  border-radius 2em
  border 1px solid #aaa
  background #aaa
  background-image: linear-gradient(top, #fff 0%, #eee 50%, #aaa 100%);

  outline none

  &:after
    position absolute
    content ""
    width .5em
    height .5em
    top .35em
    left .35em
    // background-color #000
    border-radius 1em
    box-shadow 0 0.2em 0.15em #888888 inset



.ui-slider .ui-slider-range
  display none;
/*
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*/

.ui-slider-horizontal
  height .4em

  .ui-slider-handle
    top -.45em
    margin-left -.6em
  .ui-slider-range
    top 0
    height 100%
  .ui-slider-range-min
    left 0
  .ui-slider-range-max
    right 0
