html {
  overflow-y: scroll; /* remove glitch on step 3, when scroller disappears */
}

body {
  padding-top: 170px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#wizard-steps {
  position: fixed;
  top: 40px;
  z-index: 100;
  background-color: #fff;
  margin: 0;
  padding: 40px 0 20px;
  opacity: 0.95;
}

p {
  font-size: 16px;
  line-jeight: 1.5em;
}

iframe.twitter-follow-button,
iframe.twitter-share-button {
  margin-left: 10px;
  margin-top: 9px;
}

#wizard-steps li a {
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  padding-left: 20px;
  padding-right: 25px;
}

#wizard-steps li a small {
  font-size: 18px;
  line-height: 1;
  color: #999999;
  font-weight: normal;
}

.nav-pills .active > a small {
  color: #fff;
}

#selector h2 {
  margin-top: 20px;
  font-size: 36px;
  line-height: 54px;
}

#selector .btn-toolbar, #result .btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}
.page-header {
  border-bottom: 2px solid #ddd;
}
.navbar-fixed-top {
  box-shadow: 0 0 10px #444444;
}
.navbar .brand {
  padding: 9px 20px 11px;
}

.dropdown-menu a.disabled, .dropdown-menu a.disabled:hover {
  /* FIXME */
  opacity: 0.3;
  cursor: default;
}

#wizard-steps .disabled, #wizard-steps .disabled:hover {
  /* FIXME */
  opacity: 0.3;
  cursor: default;
}

.ui-notify {
  position: fixed;
  width: 350px;
  top: 55px;
  right: 10px;
}

.ui-notify-message-style {
  z-index: 99999; 
  position: relative;
  overflow: auto;
}

/* warning for disabled JS */
.js  .jsnotice { display: none; }
.no-js .jsnotice {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 90px;
  z-index: 10000;
  font-size: 54px;
  line-height: 81px;
  font-weight: bold;
}

/* custom */

/* Select Icons */

#local-files {
  /* chrome/opera doesn't trigger events on "display: none;" elements */
  /* so, do some tricks to safely hide element */

  /* display: none; */
  width: 0px;
  height: 0px;
  position: absolute;
  top: -100px;
  visibility: hidden;
}

.fm-glyph-group {
  display: inline-block;
}

.glyph {
  position: relative;
  float: left;
  border: 1px #ccc solid;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: 0 8px 8px 0;
}

.glyph:hover {
  background: #f0f0f0;
  opacity: .8;
}

.glyph.selected {
  background-color: #fee;
}

.glyph-size-24 .glyph {
  font-size: 24px;
}

.glyph-size-16 .glyph {
  font-size: 16px;
}

/* Rearrange */

.fm-result-glyph {
  float: left;
  width: 64px;
  margin: 0 10px 10px 0;
  color: #fff;
  background-color: #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-radius: 6px;
}

.fm-result-glyph .top {
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.fm-result-glyph .center {
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: #fff;
  color: #444;
}

.fm-result-glyph .bottom {
  text-align:center;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
}

.glyph-size-24 .fm-result-glyph .center {
  font-size: 24px;
}

.glyph-size-16 .fm-result-glyph .center {
  font-size: 16px;
}

.fm-result-glyph .top input {
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.fm-result-glyph .bottom input {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.fm-result-glyph.editing-top .top,
.fm-result-glyph .top.edit {
  display: none;
}

.fm-result-glyph.editing-top .top.edit {
  display: block;
}

.fm-result-glyph.editing-bottom .bottom,
.fm-result-glyph .bottom.edit {
  display: none;
}

.fm-result-glyph.editing-bottom .bottom.edit {
  display: block;
}

.fm-result-glyph.fm-mapping-matched {
  border-color: #444;
  background-color: #444;
}

