.embedded-0 { font-family: 'entypo'; }
.embedded-1 { font-family: 'fontawesome'; }
.embedded-2 { font-family: 'iconic'; }
.embedded-3 { font-family: 'websymbols-regular'; }

@font-face {
  font-family: 'entypo';
  src: url('/static/assets/embedded_fonts/entypo.eot');
  src: url('/static/assets/embedded_fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('/static/assets/embedded_fonts/entypo.woff') format('woff'),
    url('/static/assets/embedded_fonts/entypo.ttf') format('truetype'),
    url('/static/assets/embedded_fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url('/static/assets/embedded_fonts/fontawesome.eot');
  src: url('/static/assets/embedded_fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('/static/assets/embedded_fonts/fontawesome.woff') format('woff'),
    url('/static/assets/embedded_fonts/fontawesome.ttf') format('truetype'),
    url('/static/assets/embedded_fonts/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconic';
  src: url('/static/assets/embedded_fonts/iconic.eot');
  src: url('/static/assets/embedded_fonts/iconic.eot?#iefix') format('embedded-opentype'),
    url('/static/assets/embedded_fonts/iconic.woff') format('woff'),
    url('/static/assets/embedded_fonts/iconic.ttf') format('truetype'),
    url('/static/assets/embedded_fonts/iconic.svg#iconic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'websymbols-regular';
  src: url('/static/assets/embedded_fonts/websymbols-regular.eot');
  src: url('/static/assets/embedded_fonts/websymbols-regular.eot?#iefix') format('embedded-opentype'),
    url('/static/assets/embedded_fonts/websymbols-regular.woff') format('woff'),
    url('/static/assets/embedded_fonts/websymbols-regular.ttf') format('truetype'),
    url('/static/assets/embedded_fonts/websymbols-regular.svg#websymbols-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}