@import nib

html
  overflow-y scroll // remove glitch on step 3, when scroller disappears

body
  padding-top 180px // make the container go all the way to the bottom of the topbar


//======== Github ribbon ========
.gh-ribbon
  position fixed
  right -60px
  top 44px
  z-index 10000
  background-color #686868
  padding 1px 0
  transform rotate(45deg)
  width 230px
  box-shadow 0 0 2px #6666
  display none
  a
    display: block;
    color #fff
    border 1px solid #aaa
    font-size 13px
    font-weight bold
    padding 4px 50px 2px
    text-align center
    &:hover
      text-decoration none

// use moderniser to show only fo browsers,
// wich supports rotation
.csstransforms .gh-ribbon
  display block

//======== Social buttons ========
iframe
  &.twitter-follow-button
  &.twitter-share-button
    margin-left 10px
    margin-top 9px

.gplus > div
  top 9px
  position relative

.nav
  .twitter-follow-button
  .twitter-share-button
  .gplus
    transition: opacity .5s ease;
    opacity: .6

.nav:hover
  .twitter-follow-button
  .twitter-share-button
  .gplus
    opacity: 1

//====== warning for disabled JS ===
.js  .jsnotice
  display none


.no-js .jsnotice
  position absolute
  left 30%
  right 30%
  top 90px
  z-index 10000
  font-size 54px
  line-height 81px
  font-weight bold

@import "ui/tabs"
@import "ui/toolbar"
@import "ui/panes/selector"
@import "ui/panes/preview"
@import "ui/panes/codes_editor"
