@import nib

html
  overflow-y scroll /* remove glitch on step 3, when scroller disappears */

body
  padding-top 170px /* 60px to make the container go all the way to the bottom of the topbar */


p
  font-size 16px
  line-height 1.5em

//======== Social buttons ========
iframe.twitter-follow-button
iframe.twitter-share-button
  margin-left 10px
  margin-top 9px

.gplus > div
  top 9px
  position relative

.nav
  .twitter-follow-button
  .twitter-share-button
  .gplus
    transition: opacity .5s ease;
    opacity: .6

.nav:hover
  .twitter-follow-button
  .twitter-share-button
  .gplus
    opacity: 1


//=================================

.page-header
  border-bottom 2px solid #ddd

.navbar-fixed-top
  box-shadow 0 0 10px #444444

.navbar .brand
  padding 9px 20px 11px

.dropdown-menu a.disabled,
.dropdown-menu a.disabled:hover
  /* FIXME */
  opacity 0.3
  cursor default

/* warning for disabled JS */
.js  .jsnotice
  display none


.no-js .jsnotice
  position absolute
  left 30%
  right 30%
  top 90px
  z-index 10000
  font-size 54px
  line-height 81px
  font-weight bold

@import "wizard/tabs"
@import "wizard/select-step"
@import "wizard/preview-step"
@import "wizard/download-step"
