#
# Environment-dependent configs. Use ^your_name to define enviroment,
# and define variables to override. Here is typical sample for production,
# staging & testing.
#


^production:

  bind:
    default:
      listen: 0.0.0.0:80
      #mount: //fontello.com/

  database:
    # Examples:
    #
    # "mongodb://user:password@host:port/database"
    # "user:password@host:port/database"
    # "host/database"
    #
    # For replica set join all addresses into one string, separated by comma.
    #
    mongo: localhost/fontello

  logger:
    options:
      level: info
