//= require vendor/bootstrap/bootstrap
//= require vendor/bootstrap/bootstrap-responsive
//= require vendor/jquery.noty/noty
//= require vendor/fontello/icons
//= require embedded_fonts/fontface-fontello
//= require styles
