#wizard-steps
  position fixed
  top 40px
  z-index 100
  background-color #fff
  margin 0
  padding 40px 0 20px
  opacity 0.95

.nav-pills > li > a
  display block
  font-size 30px
  font-weight bold
  line-height 1
  padding-left 20px
  padding-right 25px
  color #953B39

.nav-pills > li > a > small
  font-size 16px
  font-weight normal

.nav-pills > .active > a
.nav-pills > .active > a:hover
.nav-pills > .active > a > small
  background-color #953B39
  color #FFFFFF

.nav-pills .disabled
.nav-pills .disabled:hover
  opacity 0.3
  cursor default
