#wizard-steps
  position fixed
  top 40px
  z-index 100
  background-color #fff
  margin 0
  padding 40px 0 20px
  opacity 0.95
  border-bottom 2px solid #ddd

  .nav
    margin 0

  form
    margin 0

  .btn-group input
    float left

.nav-pills > li > a
  display block
  font-size 30px
  font-weight bold
  line-height 1em
  padding-left 20px
  padding-right 25px

.nav-pills > li > a > small
  font-size 16px
  font-weight normal
  line-height 1em

.nav-pills > .active > a > small
  background-color #953B39
  color #FFFFFF

.nav-pills .disabled
.nav-pills .disabled:hover
  opacity 0.3
  cursor default

.wizard-submenu
  position absolute
  right 0
  bottom -60px
  width 400px
  text-align right

.submenu
  display none
  padding 10px 0 10px 20px
  background-color #fff
  .btn-toolbar
    margin 0

  &.active
    display inline-block