.toolbar
  position relative

//== Make toolbar background non-transparent
.navbar-fixed-top
  background-color #fff

//== Fix search vertical offset
.btn-group .search-query
  float left

//=== Fix tab styles
.nav-tabs
  margin-bottom 0

.nav-tabs .disabled
.nav-tabs .disabled:hover
  opacity 0.3
  cursor default

.nav-tabs > li > a
  outline: none

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover
  font-weight: bold;
  border-color #aaa #aaa transparent
  box-shadow 0 -1px 2px -1px #888888

.nav-tabs
  border-bottom: 1px solid #aaa
  box-shadow 0 20px 20px #fff;

//====== users counter ============
.stats
  text-align center
  font-size 10px
  color #888
  position absolute
  right 0
  bottom 0
