.result-glyph
  float left
  width 64px
  margin 0 10px 10px 0
  color #fff
  //background-color #888
  //border-left 1px solid #888
  //border-right 1px solid #888
  background-color #444
  border-left 1px solid #444
  border-right 1px solid #444
  border-radius 6px

  .top
    text-align center
    line-height 16px
    font-size 14px

  .center
    height 64px
    line-height 64px
    text-align center
    background-color #fff
    color #444
    font-size 24px

  .bottom
    text-align center
    line-height 16px
    font-size 10px


  //&.mapping-matched
  //  border-color #444
  //  background-color #444

  .code-prefix, .code-editable, .char-editable
    display inline-block
    margin 3px 0
  .char-editable
    padding 0 3px


  &:hover
    .char-editable, .code-editable
      background-color #888
      border-radius 2px
      cursor pointer

  .char-editable, .code-editable
    &:focus
      outline none
      box-shadow 0 0 2px #fff
      background-color white
      color grayDark
      border-radius 2px
      cursor auto
