.preview-glyph
  line-height 1.5em
  height 1.5em
  overflow hidden
  white-space nowrap

  span.icon
    display inline-block
    width 1.1em
    text-align center

  span.prefix
    margin-left 0.5em

._3d .preview-glyph span.icon
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)
