#codes-editor.tab-pane.fade

  #result-font(data-bind='foreach: { data: selectedGlyphs, beforeRemove: hideGlyph }')
    .result-glyph
      .top
        input.char-editable(data-bind='value: customChar')
        a.remove.icon-remove(
          href='#',
          title=self.t('remove'),
          data-bind='click: toggleSelection'
        )

      .center.font-fontello(data-bind='text: charRef')

      .bottom
        span.code-prefix U+
        input.code-editable(data-bind='value: customHex', maxlength='5')
